@model IPTreatmentManagementPortal.Models.PatientDetail

@{
    ViewData["Title"] = "ChooseTreatmentPlan";
}

<h2>Choose Treatment Plan</h2>

<h4>Patient Details</h4>
<hr />
<div class="row" background-color="black">
    <div class="col-md-4">
        <form asp-action="ChooseTreatmentPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ailment" class="control-label"></label>
                <input asp-for="Ailment" class="form-control" />
                <span asp-validation-for="Ailment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Packages" class="control-label"></label>
                <div class="col-md-12">
                    @Html.DropDownList("Packages",
                  new SelectList(Enum.GetValues(typeof(IPTreatmentManagementPortal.Models.Package))),
                  "Select Package", new { @class = "form-control" })

                </div>
                <span asp-validation-for="Packages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Proceed" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Dashboard">Back to List</a>
</div>
@if (ViewBag.wrongdate != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.wrongdate");
        }
    </script>
}

